<?php

/*
 * This file is part of the Liquid package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * @package Liquid
 */

$header = <<<'EOF'
This file is part of the Liquid package.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

@package Liquid
EOF;

return PhpCsFixer\Config::create()
	->setRiskyAllowed(true)
	->setRules([
		'@PSR2' => true,
		'psr4' => true,
		'no_unreachable_default_argument_value' => true,
		'no_useless_else' => true,
		'no_useless_return' => true,
		'phpdoc_add_missing_param_annotation' => true,
		'phpdoc_order' => true,
		'semicolon_after_instruction' => true,
		'whitespace_after_comma_in_array' => true,
		'header_comment' => ['header' => $header],

		'@Symfony' => true,
		'single_quote' => false,
		'yoda_style' => null,
		'concat_space' => ['spacing' => 'one'],
		'phpdoc_summary' => false,
		'phpdoc_align' => false,
		'self_accessor' => false,
		'cast_spaces' => false,
	])
	->setIndent("\t")
	->setFinder(
		PhpCsFixer\Finder::create()
		->in(__DIR__)
	)
;
